.about-class-parent{
    color: silver;
    height: 200px;
    width: 100vw;
    background-color: grey;
    font-family: 'Cinzel', serif;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.social-media-list{
    background-color: beige;
    height: 165px;
    width: 50px;
}