.parent-header{
    background-color:lightgrey;
    /* margin-bottom:5%; */
    height: 200px;
}

.header-flex-begins{
    height: 250px;
    display: flex;
    justify-content: end;
    
}

.header-flex-one{
    height:200px;
    width: 20vw;
    background-image: url("./img/RomanBumburyakHeadshot.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:25px;
    border-radius: 50%;
}

