.parent-portfolio{
    height: 100vh;
    width: 100vw; 
    background-color: #343c95;
     /* padding:15px; */
     margin-bottom:15px;
     display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.begin-portfolio-flex{
    
    height: 100vh; 
    background-color: #fafafa;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.portfolio-block-one{
    width:30vw;
    height: 70vh;
    background-color: #333;
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
    display: grid;
    overflow: scroll;

}

.portfolio-block-two{
    width:30vw;
    height: 60vh;
    background-image: url(./img/JavaRed.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;

}



.my-info-parent{
    width:25vw;
    height: 90vh;
    
    padding:15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.my-info-one{
    width:30vw;
    height: 60vh;
    background-color: #333;
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
    display: grid;
    overflow: scroll;
}

.my-info-two{
    width:30vw;
    height: 60vh;
    background-image: url(./img/JavaScriptPicOne.png);
    background-size: contain;
    background-repeat: no-repeat;
}
