.App {
  margin: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.MainHeaderDiv{
  height: 340px;
  width:180px;
  background-color: #222;
  color: white;
  /*display: inline-block;*/
  position:relative;
  left:1050px;
  top: 120px;
  opacity: 0.9;
}

.App-header {
  background-image: url(./img/PicassoPic1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222;
  height: 600px;
  padding: 20px;
  color: white;
  /*font-weight: bold;*/
  /*margin-bottom: 5px;*/
}

.App-headerTwo {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
  margin-bottom: 25px;
}
.App-headerTwo:hover{
background-color: grey;
background-repeat: no-repeat;
background-size: contain;

}

.CreationInformation{
  font-weight: bold;
  font-size: large;
}

.CreationInformationTwo{
  font-weight: bold;
  font-size: large;
}

.App-headerThree {
  background-color: black;
  height: 250px;
  padding: 20px;
  color: white;
  background-image: url(./img/9943.jpg);
  background-repeat: no-repeat;
  /*background-size: contain;*/
  /*background-position: center;*/
  display: flex;
  justify-content:space-around;
}


.HeaderThreeExtensionOne{
  width: 160px;
  height: 250px;
  background-color: rgb(0, 181, 112);
  font-family: sans-serif;

}

.HeaderThreeExtensionTwo{
  color: black;
  width: 300px;
  height: 400px;
  background-color: white;

}



.App-logo-CanI{
    display: flex;
    justify-content: inline-block;
    width: 180px;
    height: 100px;
    background-image: url(./img/JavaRed.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: example;
    animation-name: resize;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    box-shadow: 5px 5px 25px #000;
}

.HeaderThreeExtensionThree{
  width: 160px;
  height: 250px;
  background-color: rgb(67,214,252);

}

.AppDivTwo{
  margin: 2rem;
  text-align: center;
  height: 300px;
  padding:20px;
  background-color: red;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.MyExtensionsFlexed{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;

}
.ExtensionOne{
  background-color: black;
  height: 500px;
  width: 500px;
  padding: 20px;
  color: white;
  margin-bottom: 25px;
}

.ExtensionTwo{
  background-image: url(./img/HoneyCombJs.webp);
  background-repeat: no-repeat;
  /*background-size: contain;*/
  height: 500px;
  width: 500px;
  padding: 20px;
  color: white;
  margin-bottom: 25px;
}

.ExtensionThree{
  background-image: url(./img/NpmLarge.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: bold;
  font-size: 1.3rem;
  height: 500px;
  width: 500px;
  padding: 20px;
  color: white;
  margin-bottom: 25px;
}
.ExtensionThree:hover{
  background-image: url(./img/npmDark.png);
}

.ExtensionFour{
  background-image: url(./img/react.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1.3rem;
  font-weight: bold;
  height: 500px;
  width: 500px;
  padding: 20px;
  color: white;
  margin-bottom: 25px;
}

.ExtensionFive{
  background-image: url(./img/NodeJsFirst.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 500px;
  padding: 20px;
  color: white;
  margin-bottom: 100px;
  animation: 5s;
  animation-name: popOutThree;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

.NpmTerminalLook{
  background-color: black;
  height: 500px;
  width: 550px;
  color:red;
  top: 150px;
  animation: 5s;
  animation-name: popOutFour;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

.InternalTerminal{
  background-color: black;

  height: 450px;
  width: 550px;
  animation-name: popOutFour;

}

.NodeIntroBlock{
  background-color: #99CC33;
  border-radius: 15px 50px 30px;
  color: black;
  font-weight:bold;
  position: relative;
  top: 200px;
  animation: 5s;
  animation-name: popOut;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

.ExtensionSix{
  background-image: url(./img/JavaAndroidStudio.jpeg);
  font-weight: bold;
  font-size: 1.1rem;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 500px;ß
  padding: 20px;
  color: black;
  margin-bottom: 25px;
}

.UnderLinerOne{
  background-image: url(./img/HtmlCss.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 500px;
  padding: 20px;
  color: white;
  /*background-repeat: no-repeat;*/
  background-size: contain;
  animation-name: popOutTwo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;


}

.UnderLinerParaOne{
  margin-top: 334px;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  top: 40px;
  height: 63px;
  width: 500px;

  /*background-color: rgb(56, 90, 170);*/
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes resize {
  0% {
    padding: 0;
    background-color:rgb(237,34,51);
  }

  50% {
    padding: 0 20px;
    background-color:rgb(237,34,51);
  }
  100% {
    padding: 0 100px;
    background-color:rgb(237,34,51);
  }
}

@keyframes popOut {
  0% {
    padding: 0;
    background-color:white;
  }

  50% {
    padding: 0 20px;
    background-color:silver;
  }
  100% {
    padding: 0 100px;
    background-color:#99CC33;
  }

}

@keyframes popOutTwo {
  0% {
    padding: 0;
    background-color:white;
  }

  50% {
    padding: 0 ;
    background-color:grey;
  }
  100% {
    padding: 0 ;
    background-color:white;
  }

}

@keyframes popOutThree {
  0% {
    padding: 0;
    background-color:#99CC33;
  }

  50% {
    padding: 0 ;
    background-color:grey;
  }
  100% {
    padding: 0 ;
    background-color:black;
  }

}


@keyframes popOutFour {
  0% {
    padding: 0;
    background-color:white;
  }

  50% {
    padding: 0 20px;
    background-color:silver;
  }
  100% {
    padding: 0 100px;
    background-color:black;
  }

}
