.App {
  margin: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url(./img/PicassoPic1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222;
  height: 600px;
  padding: 20px;
  color: white;
  margin-bottom: 25px;
}

.App-headerTwo {
  background-color: black;
  height: 250px;
  padding: 20px;
  color: white;
  margin-bottom: 25px;
}
.CreationInformation{
  font-weight: bold;
  font-size: large;
}

.App-headerThree {
  background-color: black;
  height: 250px;
  padding: 20px;
  color: white;
  background-image: url(./img/9943.jpg);
  background-repeat: no-repeat;
  /*background-size: contain;*/
  /*background-position: center;*/
}

.AppDivTwo{
  margin: 2rem;
  text-align: center;
  height: 300px;
  padding:20px;
  background-color: red;
  transition:
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.MyExtensionsFlexed{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;

}
.ExtensionOne{
  background-color: black;
  height: 500px;
  width: 500px;
  padding: 20px;
  color: white;
  margin-bottom: 25px;
}

.ExtensionTwo{
  /*background-color: red;*/
  background-image: url(./img/HoneyCombJs.webp);
  background-repeat: no-repeat;
  /*background-size: contain;*/
  height: 500px;
  width: 500px;
  padding: 20px;
  color: white;
  margin-bottom: 25px;
}

.ExtensionThree{
  background-image: url(./img/NpmLarge.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: bold;
  font-size: 1.3rem;
  height: 500px;
  width: 500px;
  padding: 20px;
  color: white;
  margin-bottom: 25px;
}

.ExtensionFour{
  background-image: url(./img/react.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1.3rem;
  font-weight: bold;
  height: 500px;
  width: 500px;
  padding: 20px;
  color: white;
  margin-bottom: 25px;
}

.ExtensionFive{
  background-image: url(./img/NodeJsFirst.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 500px;
  padding: 20px;
  color: white;
  margin-bottom: 25px;
}

.ExtensionSix{
  background-image: url(./img/JavaAndroidStudio.jpeg);
  font-weight: bold;
  font-size: 1.1rem;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 500px;
  padding: 20px;
  color: white;
  margin-bottom: 25px;
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
